DWH-ADF-Development/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DWH-ADF-Development"
		},
		"AzureDatabricks_development_connection_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks_development_connection'"
		},
		"sql_server_development_connection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sql_server_development_connection'"
		},
		"sql_server_operations_connection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sql_server_operations_connection'"
		},
		"ADF_dev_linked_service_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://dwh-development-keyvault.vault.azure.net/"
		},
		"AzureDataLakeStorage_test_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dwhdatalakedevelopment.dfs.core.windows.net"
		},
		"dwhdatalakedevelopment_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dwhdatalakedevelopment.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_send_email')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send email",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-55.westeurope.logic.azure.com:443/workflows/68a9e67bb1dd4c218b0aedeb2cc185d1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=aCHFbRtDBEqszJgzokENqPEYosNnrAjhSVjDmKSri3A",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@pipeline().parameters.pPipelineName",
								"Subject": "@pipeline().parameters.pEmailSubject",
								"Message": "@pipeline().parameters.pEmailBody",
								"EmailTo": "@pipeline().parameters.pEmailTo"
							}
						}
					}
				],
				"parameters": {
					"pPipelineName": {
						"type": "string",
						"defaultValue": "Pipeline Name"
					},
					"pEmailSubject": {
						"type": "string",
						"defaultValue": "Azure DWH Alert ! Exchange rate file not available"
					},
					"pEmailBody": {
						"type": "string",
						"defaultValue": "Exchange rate file not available"
					},
					"pEmailTo": {
						"type": "string",
						"defaultValue": "sudipta.dutta@gard.no"
					}
				},
				"folder": {
					"name": "pipelines/dwh_master"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_dev_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ADF_dev_linked_service_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage_test')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_test_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_development_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to DataBricks Development",
				"annotations": [
					"databricks development connection"
				],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://westeurope.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_development_connection_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "5.5.x-scala2.11"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dwhdatalakedevelopment')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ADF Development connection to dwhdatalakedevelopment",
				"annotations": [
					"datalake development connection"
				],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('dwhdatalakedevelopment_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_server_development_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ADF connection to SQL server Development ",
				"annotations": [
					"sql server development connection"
				],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sql_server_development_connection_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_server_operations_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sql_server_operations_connection_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AMSSRV049')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Integration runtime hosted on AMSSRV049",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AMSSRVRUN01')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IRThomasClaimDetails')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 16,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IRsiv8core')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 16,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IRtestwestEurope')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "West Europe",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 16,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IrExecutePipeline')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"description": "This integration runtime is created to execute the pipelines with better performance.",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "MemoryOptimized",
							"coreCount": 32,
							"timeToLive": 30
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Initialize_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "prc_initialize_pipeline",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf_audit].[prc_initialize_pipeline]"
						},
						"linkedServiceName": {
							"referenceName": "sql_server_development_connection",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "pipelines/dwh_master"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sql_server_development_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_error_handling')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send email on error",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "prc_audit_pipeline_error_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-111.westeurope.logic.azure.com:443/workflows/854a1b1a7a70443ea407fcc8ad02a8d6/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=xI0dgmzlPJOnVcQ4PjxydVz2E5UIM0Qke2J4gC8Mkbo",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@pipeline().parameters.pPipelineName",
								"Subject": "@variables('vSubject')",
								"ErrorMessage": "@pipeline().parameters.pPipelineErrorMsg",
								"EmailTo": "@variables('vEmailTo')"
							}
						}
					},
					{
						"name": "prc_audit_pipeline_error_status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf_audit].[prc_audit_pipeline_error_status]",
							"storedProcedureParameters": {
								"pInPipelineName": {
									"value": {
										"value": "@pipeline().parameters.pPipelineName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "sql_server_development_connection",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"pPipelineName": {
						"type": "string",
						"defaultValue": "pipeline_name"
					},
					"pPipelineErrorMsg": {
						"type": "string",
						"defaultValue": "Pipeline failed. Please check"
					}
				},
				"variables": {
					"vEmailTo": {
						"type": "String",
						"defaultValue": "sudipta.dutta@gard.no"
					},
					"vSubject": {
						"type": "String",
						"defaultValue": "ADF DWH Alert ! Pipeline Failed"
					}
				},
				"folder": {
					"name": "pipelines/dwh_master"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sql_server_development_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Agresso')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dwhdatalakedevelopment",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Copy job/dwh-stage/Agresso"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": "Agresso",
						"fileSystem": "dwh-stage"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dwhdatalakedevelopment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Exact')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dwhdatalakedevelopment",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Copy job/dwh-stage/Oltp05"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": "Exact",
						"fileSystem": "dwh-stage"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dwhdatalakedevelopment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lloyds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dwhdatalakedevelopment",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Copy job/dwh-stage/Oltp05"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": "Lloyds",
						"fileSystem": "dwh-stage"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dwhdatalakedevelopment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oltp05')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dwhdatalakedevelopment",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Copy job/dwh-stage/Oltp05"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": "Oltp05",
						"fileSystem": "dwh-stage"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dwhdatalakedevelopment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Other')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dwhdatalakedevelopment",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Copy job/dwh-stage/Other"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": "Other",
						"fileSystem": "dwh-stage"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "FROM_CURRENCY_ID",
						"type": "DOUBLE"
					},
					{
						"name": "TO_CURRENCY_ID",
						"type": "DOUBLE"
					},
					{
						"name": "EXCHANGE_FROM_DATE",
						"type": "INT96"
					},
					{
						"name": "EXCHANGE_RATE",
						"type": "DECIMAL",
						"precision": 38,
						"scale": 18
					},
					{
						"name": "EXCHANGE_TO_DATE",
						"type": "INT96"
					},
					{
						"name": "FROM_CURRENCY_CODE",
						"type": "UTF8"
					},
					{
						"name": "TO_CURRENCY_CODE",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dwhdatalakedevelopment')]"
			]
		}
	]
}