pipeline/check_exchange_rate.json
{
	"name": "check_exchange_rate",
	"properties": {
		"activities": [
			{
				"name": "lookup_exchange_file_status",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select \"file_arrival_status\" from \"hlp_exchange_rate_status\"",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "oracle_exchange_rate_status",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lookup_exchange_file_status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('lookup_exchange_file_status').output.firstRow.file_arrival_status,'Y')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "copy job/dwh_stage/oltp05"
		},
		"annotations": []
	}
}