pipeline/check_exchange_rate.json
{
	"name": "check_exchange_rate",
	"properties": {
		"activities": [
			{
				"name": "lookup_exchange_rate_status",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select \"load_completion_status\" from \"hlp_exchange_rate_status\"",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "oracle_exchange_rate_status",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lookup_exchange_rate_status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('lookup_exchange_rate_status').output.firstRow.load_completion_status,'Y')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copy_exchange_rate",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "oracle_exchange_rate",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "stage_hlp_exchange_rate",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "copy job/dwh_stage/oltp05"
		},
		"annotations": []
	}
}