pipeline/Copy Lake to Table.json
{
	"name": "Copy Lake to Table",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "GetConfigSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{pipeline().parameters.SourceContainer}/@{pipeline().parameters.SourceDirectory}/@{concat(item().Prop_0,'.parquet')}"
								},
								{
									"name": "Destination",
									"value": "dwh_stage.@{toLower(concat('p_',item().Prop_0))}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ParquetSourceDataset",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@concat(item().Prop_0,'.parquet')",
											"type": "Expression"
										},
										"SourceContainer": {
											"value": "@pipeline().parameters.SourceContainer",
											"type": "Expression"
										},
										"SourceDirectory": {
											"value": "@pipeline().parameters.SourceDirectory",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DWHStage",
									"type": "DatasetReference",
									"parameters": {
										"SinkDataset": {
											"value": "@toLower(concat('p_',item().Prop_0))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceContainer": {
				"type": "string"
			},
			"SourceDirectory": {
				"type": "string"
			}
		},
		"folder": {
			"name": "copy/dwh_stage/paris"
		},
		"annotations": []
	}
}