pipeline/copy_mapsys_to_sql.json
{
	"name": "copy_mapsys_to_sql",
	"properties": {
		"activities": [
			{
				"name": "Lookup_mapsys",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select table_name table_name from azure_config where oracle_schema_name not like  'AGRINT'\n",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "oracle_configfile_oltp05",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachMapsys",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_mapsys",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_mapsys').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Mapsys",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Oracle_oltp05",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "SELECT * FROM @{item().table_name} ",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "mapsys",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@{item().table_name}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}