pipeline/Copy_Paris.json
{
	"name": "Copy_Paris",
	"properties": {
		"description": "This is the official copy job from paris to SQL. Kopiere direkte til SQL. Men ser ut til at det er begresninger på Integration runtime pga. sikkerthet og firewall. ",
		"activities": [
			{
				"name": "ForEach_Paris",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Paris",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Paris').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Paris to Sql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "AZURE_READ.AZURE_CONFIG"
								},
								{
									"name": "Destination",
									"value": "dwh_stage.@{trim(replace(item().table_name,'\"',' ')) }"
								}
							],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "SELECT * FROM @{item().table_name} ",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "OracleParisScr",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "azure_sql_paris_tables",
									"type": "DatasetReference",
									"parameters": {
										"SinkDataset": {
											"value": "@trim(replace(item().table_name,'\"',' '))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup_Paris",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select table_name table_name from\nazure_config where oracle_table_name not in ('FAPTABLE','RSATABLE','FILTABLE','FILTABLE_COR')",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "OracleParisTablesScr",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "copy/Test Lookup/paris"
		},
		"annotations": []
	}
}