pipeline/copy_exact_to_sql.json
{
	"name": "copy_exact_to_sql",
	"properties": {
		"activities": [
			{
				"name": "Lookup_exact",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select table_name table_name from azure_config where oracle_schema_name = 'EXACT_SRC'\n",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "oracle_configfile_oltp05",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachExact",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_exact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_exact').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Exact",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "SELECT * FROM @{item().table_name} ",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('TRUNCATE TABLE dwh_stage.',trim(replace(item().TABLE_NAME,'\"',' ')),';')}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "oracle_exact",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SqlExact",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "prc_audit_dwh_table_row_count",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy Exact",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf_audit].[prc_audit_dwh_table_row_count]",
								"storedProcedureParameters": {
									"pInCopyJobName": {
										"value": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"pInSourceCount": {
										"value": {
											"value": "@activity('Copy Exact').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pInTargetCount": {
										"value": {
											"value": "@activity('Copy Exact').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "sql_server_development_connection",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "copy job/dwh_stage/oltp05"
		},
		"annotations": []
	}
}