pipeline/copy_exchange_rate.json
{
	"name": "copy_exchange_rate",
	"properties": {
		"activities": [
			{
				"name": "UntilExRateOraSrcecmplte",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('inside_lkp_exchange_rate_status').output.firstRow.load_completion_status,'Y')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 180
							}
						},
						{
							"name": "inside_lkp_exchange_rate_status",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": "select \"load_completion_status\" from \"hlp_exchange_rate_status\"",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "oracle_exchange_rate_status",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "inside_lkp_exchange_rate_status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vSourceLoadstatus",
								"value": {
									"value": "@activity('inside_lkp_exchange_rate_status').output.firstRow.load_completion_status",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.01:00:00"
				}
			},
			{
				"name": "copy_hlp_exchange_rate",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "UntilExRateOraSrcecmplte",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE  dwh_stage.hlp_exchange_rate;",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "oracle_exchange_rate",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "hlp_exchange_rate",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "prc_audit_dwh_table_row_count",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_hlp_exchange_rate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf_audit].[prc_audit_dwh_table_row_count]",
					"storedProcedureParameters": {
						"pInCopyJobName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pInSourceCount": {
							"value": {
								"value": "@activity('copy_hlp_exchange_rate').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pInTargetCount": {
							"value": {
								"value": "@activity('copy_hlp_exchange_rate').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sql_server_development_connection",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"vSourceLoadstatus": {
				"type": "String"
			}
		},
		"folder": {
			"name": "copy job/dwh_stage/oltp05"
		},
		"annotations": []
	}
}