pipeline/copy_paris_to_lake.json
{
	"name": "copy_paris_to_lake",
	"properties": {
		"description": "This copy job is getting the views from config on paris c_stage. Temp, before we get SQL up running. ",
		"activities": [
			{
				"name": "Lookup_Paris",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select TABLE_NAME table_name from azure_config where table_name = '\"p_agatable\"'",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "OracleParisViews",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachParis",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Paris",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Paris').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Paris",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "SELECT * FROM @{item().table_name} ",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "OracleParisTables",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "paris_tables",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@{item().table_name}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "copy/Test Lookup/paris"
		},
		"annotations": []
	}
}