pipeline/Copy Static Lake to Sql_NY.json
{
	"name": "Copy Static Lake to Sql_NY",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						}
					},
					"dataset": {
						"referenceName": "Lake_static_configfile",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_statictables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Static",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dwh-stage/Static/@{item().TABLE_NAME}"
								},
								{
									"name": "Destination",
									"value": "dwh_stage.@{trim(replace(item().TABLE_NAME,'\"',' ')) }"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "tables_static_lake_2303",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlFromLakeStatic",
									"type": "DatasetReference",
									"parameters": {
										"SinkDataset": {
											"value": "@trim(replace(item().TABLE_NAME,'\"',' ')) ",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceContainer": {
				"type": "string"
			},
			"SourceDirectory": {
				"type": "string"
			}
		},
		"folder": {
			"name": "copy/Test Lookup"
		},
		"annotations": []
	}
}