pipeline/load_all_master.json
{
	"name": "load_all_master",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LkpPreJobStatus').output.firstRow.pre_load_status,'Y')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LkpPreJobStatus",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.04:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select adf_audit.fn_check_pre_load_status(1) pre_load_status",
									"queryTimeout": "00:30:00"
								},
								"dataset": {
									"referenceName": "azure_sql_server",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 120
							}
						}
					],
					"timeout": "0.01:00:00"
				}
			},
			{
				"name": "LkpStageLoadStatus",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select adf_audit.fn_check_stage_load_status(1) stage_load_status",
						"queryTimeout": "00:30:00"
					},
					"dataset": {
						"referenceName": "azure_sql_server",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LkpStageLoadStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LkpStageLoadStatus').output.firstRow.stage_load_status,'Y')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "pipeline_send_email",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline_send_email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pPipelineName": "load_all_master"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "load_master_dwh",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "load_master_dwh",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "pipelines/dwh_master"
		},
		"annotations": []
	}
}