pipeline/load_master_pre_dwh.json
{
	"name": "load_master_pre_dwh",
	"properties": {
		"activities": [
			{
				"name": "initialize_pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "initialize_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "load_master_pre",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "initialize_pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "load_master_pre",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "UpdateExchangeRteLoadStatus",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "load_master_pre",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf_audit].[prc_audit_pipeline_progress_status]",
					"storedProcedureParameters": {
						"pPipelineId": {
							"value": "2",
							"type": "Int16"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sql_server_development_connection",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "pipeline_error_handling",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "initialize_pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline_error_handling",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pPipelineName": "initialize_pipeline",
						"pPipelineErrorMsg": {
							"value": "@activity('initialize_pipeline').error.message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"vFailStatus": {
				"type": "String"
			}
		},
		"folder": {
			"name": "pipelines/dwh_stage"
		},
		"annotations": []
	}
}